#==========================================================================
# Copyright (C) 2024
# Fully cleaned & fixed version by ChatGPT
#==========================================================================

name: Extract img file

on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      type_file:
        description: "Select type file"
        required: true
        default: "img.xz"
        type: choice
        options:
          - img.xz
          - img.gz
      img_url:
        description: "Set the URL of the img file"
        required: true
        default: ""
      rename:
        description: "Set the boot & rootfs output name"
        required: true
        default: ""

env:
  TZ: Asia/Jakarta

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@main

    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo -E apt-get -qq update
        sudo -E apt-get -y install wget python3
        sudo -E apt-get -qq autoremove --purge
        sudo -E apt-get -qq clean

        sudo pip3 install gdown

        # Install Rust + mediafire_rs
        curl https://sh.rustup.rs -sSf | sh -s -- -y
        export PATH="$HOME/.cargo/bin:$PATH"
        cargo install mediafire_rs

        # Install Mega CMD
        megacmd_ver=$(sudo cat /etc/*ease | grep "DISTRIB_RELEASE" | awk -F "=" '{print $2}')
        wget https://mega.nz/linux/repo/xUbuntu_${megacmd_ver}/amd64/megacmd-xUbuntu_${megacmd_ver}_amd64.deb
        sudo apt install "./megacmd-xUbuntu_${megacmd_ver}_amd64.deb"

        sudo timedatectl set-timezone "$TZ"

    - name: Download file ${{ inputs.type_file }}
      run: |
        df -hT $PWD

        url="${{ inputs.img_url }}"

        if echo "$url" | grep -q "drive."; then
          # Google Drive
          if [ "$(echo $url | awk -F '/' '{print $6}')" ]; then
            file_id=$(echo $url | awk -F "/" '{print $6}')
          else
            file_id=$(echo $url | awk -F "id=" '{print $2}' | awk -F "&" '{print $1}')
          fi
          gdown "$file_id" -O file.${{ inputs.type_file }}

        elif echo "$url" | grep -q "mediafire.com"; then
          # MediaFire
          mdrs "$url"
          mv *.${{ inputs.type_file }} file.${{ inputs.type_file }}

        elif echo "$url" | grep -q "mega.nz"; then
          # Mega.nz
          file_mega=$(mega-get "$url" | awk -F: '{print $2}')
          mv "$file_mega" file.${{ inputs.type_file }}

        else
          # Direct link
          wget --no-check-certificate "$url" -O file.${{ inputs.type_file }}
        fi

    - name: Extract firmware
      id: extract
      run: |
        mkdir -p boot rootfs img

        if [ "${{ inputs.type_file }}" = "img.gz" ]; then
          gunzip file.img.gz
        elif [ "${{ inputs.type_file }}" = "img.xz" ]; then
          unxz file.img.xz
        fi

        los=$(sudo losetup -fP --show file.img)
        sudo mount ${los}p1 boot
        sudo mount ${los}p2 rootfs

        # Pack boot
        (cd boot && sudo tar cfz ../img/${{ inputs.rename }}-boot.tar.gz *)

        # Pack rootfs
        (cd rootfs && sudo tar cfz ../img/${{ inputs.rename }}-rootfs.tar.gz *)

        echo "PACKAGED_OUTPUTPATH=./img/*" >> $GITHUB_ENV
        echo "PACKAGED_OUTPUTDATE=$(date +"%m.%d.%H%M")" >> $GITHUB_ENV
        echo "PACKAGED_STATUS=success" >> $GITHUB_ENV

    - name: Upload boot tar.gz
      uses: actions/upload-artifact@main
      if: env.PACKAGED_STATUS == 'success'
      with:
        name: ${{ inputs.rename }}-boot.tar.gz
        path: ./img/${{ inputs.rename }}-boot.tar.gz

    - name: Upload rootfs tar.gz
      uses: actions/upload-artifact@main
      if: env.PACKAGED_STATUS == 'success'
      with:
        name: ${{ inputs.rename }}-rootfs.tar.gz
        path: ./img/${{ inputs.rename }}-rootfs.tar.gz

    - name: Upload release asset
      uses: svenstaro/upload-release-action@v2
      if: env.PACKAGED_STATUS == 'success'
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ${{ env.PACKAGED_OUTPUTPATH }}
        tag: ${{ env.PACKAGED_OUTPUTDATE }}
        file_glob: true
        overwrite: true
        body: |
          boot & rootfs

    - name: Check space usage
      if: (!cancelled())
      run: df -hT

    - name: Delete workflow runs
      uses: GitRML/delete-workflow-runs@main
      with:
        retain_days: 1
        keep_minimum_runs: 3
